@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    font-family: "Lexend Deca", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}
  
body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
  
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
  
button {
    position: relative;
    top: 0;
    margin: 16px 0 0 0;
    padding: 0.6em 1.2em;
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #f9f9f9;
    background-color: rgb(53, 131, 235);
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

button:hover {
    top: -1px;
    opacity: 0.92;
    box-shadow: 0px 1px 2px 0px rgba(34, 34, 34, 0.26);
}

button.action {
    margin: 0 6px 0 0;
    padding: 0.3em 1em;
    width: auto;
    font-size: 0.74em;
    font-weight: 400;
    text-transform: uppercase;
}

button.green {
    background-color: #5bb32a;
}

button.red {
    background-color: #ff3e2b;
}

.field {
    margin: 12px 0 0 0;

    label {
        display: block;
        margin: 0 0 2px 0;
        font-size: 0.74em;
        font-weight: 400;
        text-transform: uppercase;
    }

    input {
        margin: 0;
        padding: 10px 8px;
        width: 100%;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        box-sizing: border-box;
    }
}

.error {
    display: block;
    margin: 3px 0 0 0;
    color: #ff3e2b;
    font-size: 0.7em;
    font-weight: 300;
}

#app {
    min-width: 100vh;
    min-height: 100vh;
}

.home-container {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    min-height: 100vh;

    .content {
        display: flex;
        flex: 1 1 100%;
        background: linear-gradient(45deg, #3583eb 0%,#6ba2ea 100%);
    }
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    min-width: 100vh;
    min-height: 100vh;

    .content {
        display: flex;
        flex: 1 1 100%;
        padding: 28px 80px;
        background: linear-gradient(45deg, #3583eb 0%,#6ba2ea 100%);
    }
}
  
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
}
  